app/src/test/resources/io/apicurio/registry/noprofile/content/xml-schema-before.xsd

<xs:schema        xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="shiporder">
  <xs:complexType>
  <xs:sequence>
	<xs:element             type="xs:string" name="orderperson" />
	 <xs:element name="shipto">
	   <xs:complexType>
		<xs:sequence>
		   <xs:element name="name" type="xs:string"/>
		   <xs:element name="address" type="xs:string"/>
		   <xs:element name="city" type="xs:string"/>
		   <xs:element name="country" type="xs:string"/>
	     </xs:sequence>
	    </xs:complexType>
	   </xs:element>
	 </xs:sequence>
	 <xs:attribute use="required"    type="xs:string"   name="orderid"
		/>
  </xs:complexType>
</xs:element>
</xs:schema>